{"openapi":"3.0.0","info":{"title":"Common Storage","description":"Common Storage is a backend-agnostic federated personal data-store. It is protected by RBAC, and allows arbitrary (or constrained) events to be written to the server. Content can be synced between servers by setting up a subscription to a topic. It can serve as a relay between websites that publish notes, bookmarks, and other data and a locally hosted data-store.\n\nCommon-storage data is accessible using basic-authenticated HTTP requests, with support for more rapid retrieval of content from a topic using streaming JSON.","version":"1.0.0"},"components":{"securitySchemes":{"BasicAuth":{"type":"http","scheme":"basic"}}},"security":[{"BasicAuth":[]}],"servers":[{"url":"https://common-storage.rgrannell.xyz"}],"paths":{"/feed":{"get":{"summary":"Retrieve general information about this server","description":"/feed publically describes the topics available on a particular server, as well as statistics about how recently topics have been updated. It also lists subscriptions the server currently holds","parameters":[{"name":"human","in":"query","description":"Should dates be presented in human readable formats?","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"Feed retrieved successfully","content":{"application/json":{"schema":{"type":"object"},"example":{"description":"My personal common-storage server","title":"Common Storage","version":"v0.1","topics":[{"topic":"snippets","description":"Short unstructured text-notes for sharing links, quotes, reminders, etc.","stats":{"count":1,"lastUpdated":1600000000000}}],"subscriptions":{},"apiOverview":{"users":{"GET /user":"Get information about registered users","GET /user/:name":"Get user information","POST /user/:name":"Add a user"},"subscriptions":{"POST /subscription/:topic":"Subscribe to a common-storage topic"},"role":{"GET /role/:role":"Get permission details about a role","POST /role/:role":"Create a new permissions role"},"feed":{"GET /feed":"Retrieve general information about this server"},"content":{"GET /content/:topic":"Retrieve a collection of content from a topic","POST /content/:topic":"Add content to a topic"},"topic":{"GET /topic/:topic":"Get metadata about a topic","POST /topic/:topic":"Add a topic to the server","DELETE /topic/:topic":"Delete a topic from the server"}}}}}},"400":{"description":"Failed JSON parse","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}},"example":{"error":"Error message"}}}},"422":{"description":"Invalid request details","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}},"example":{"error":"Error message"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}},"example":{"error":"Error message"}}}}}}},"/user":{"get":{"summary":"Get information about registered users","description":"List information about all registered users on this server","parameters":[{"name":"human","in":"query","description":"Should dates be presented in human readable formats?","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"Get information about all-users registered on this server","content":{"application/json":{"schema":{"type":"object"},"example":[{"name":"notes_read","role":"notes_read_role","created":1600000000000}]}}},"400":{"description":"Failed JSON parse","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}},"example":{"error":"Error message"}}}},"422":{"description":"Invalid request details","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}},"example":{"error":"Error message"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}},"example":{"error":"Error message"}}}}}}},"/user/{name}":{"get":{"summary":"Get user information","description":"Get information about a particular user, by name","parameters":[{"name":"name","in":"path","description":"The user-name","required":true,"schema":{"type":"string"}},{"name":"human","in":"query","description":"Should dates be presented in human readable formats?","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object"},"example":{"name":"notes_read","role":"notes_read_role","created":1600000000000}}}},"400":{"description":"Failed JSON parse","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}},"example":{"error":"Error message"}}}},"422":{"description":"Invalid request details","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}},"example":{"error":"Error message"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}},"example":{"error":"Error message"}}}}}},"post":{"summary":"Add a user","description":"Register a user associated with a particular role to the server","parameters":[{"name":"name","in":"path","description":"The user-name","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"User successfully added","content":{"application/json":{"schema":{"type":"object"},"example":{"existed":false}}}},"400":{"description":"Failed JSON parse","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}},"example":{"error":"Error message"}}}},"422":{"description":"Invalid request details","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}},"example":{"error":"Error message"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}},"example":{"error":"Error message"}}}}}}},"/subscription/{topic}":{"get":{"summary":"Get details about a subscription","description":"Common-storage servers can retrieve information from other server's topic via a subscription","parameters":[{"name":"topic","in":"path","description":"The topic-name","required":true,"schema":{"type":"string"}},{"name":"human","in":"query","description":"Should dates be presented in human readable formats?","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object"},"example":{}}}},"400":{"description":"Failed JSON parse","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}},"example":{"error":"Error message"}}}},"422":{"description":"Invalid request details","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}},"example":{"error":"Error message"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}},"example":{"error":"Error message"}}}}}},"post":{"summary":"Subscribe to a common-storage topic","description":"Subscribe to a remote server","parameters":[{"name":"topic","in":"path","description":"The topic-name","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object"},"example":{}}}},"400":{"description":"Failed JSON parse","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}},"example":{"error":"Error message"}}}},"422":{"description":"Invalid request details","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}},"example":{"error":"Error message"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}},"example":{"error":"Error message"}}}}}}},"/role/{role}":{"get":{"summary":"Get details about a role","description":"Roles describe what a user can and cannot do when interacting with a common-storage server","parameters":[{"name":"role","in":"path","description":"The role-name","required":true,"schema":{"type":"string"}},{"name":"human","in":"query","description":"Should dates be presented in human readable formats?","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object"},"example":{"name":"notes_admin_role","create":1600000000000,"permissions":[{"topics":["notes"],"routes":"ALL"}]}}}},"400":{"description":"Failed JSON parse","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}},"example":{"error":"Error message"}}}},"422":{"description":"Invalid request details","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}},"example":{"error":"Error message"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}},"example":{"error":"Error message"}}}}}},"post":{"summary":"Create a new permissions role","description":"Post a role that defined the permissions that a particular role has. Permissions are defined at two levels; route level and topic level. Available route-level permissions are:\n- ALL\n- GET /content\n- POST /content\n- GET /topic\n- POST /topic\n- DELETE /topic\n\nThese permissions apply to topics, with the possible values:\n- ALL\n- USER_CREATED\n- An array of topic names","parameters":[{"name":"role","in":"path","description":"The role-name","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object"},"example":{"existed":false}}}},"400":{"description":"Failed JSON parse","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}},"example":{"error":"Error message"}}}},"422":{"description":"Invalid request details","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}},"example":{"error":"Error message"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}},"example":{"error":"Error message"}}}}}}},"/content/{topic}":{"get":{"summary":"Retrieve a collection of content from a topic","description":"Content can be retrieved using paginated GET requests, or as streaming JSON","parameters":[{"name":"topic","in":"path","description":"The topic-name","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"array","items":{"anyOf":[{"type":"string"},{"type":"integer"},{"type":"object"}]}},"example":[{"id":"my-note-0","text":"an arbitrary note"},{"id":"my-note-1","text":"another arbitrary note"}]},"application/x-ndjson":{"schema":{"type":"string"},"example":"\n    {\"id\": \"my-note-0\", \"text\": \"an arbitrary note\"}\n    {\"id\": \"my-note-1\", \"text\": \"another arbitrary note\"}\n  "}}},"400":{"description":"Failed JSON parse","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}},"example":{"error":"Error message"}}}},"422":{"description":"Invalid request details","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}},"example":{"error":"Error message"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}},"example":{"error":"Error message"}}}}}},"post":{"summary":"Add content to a topic","description":"Add a list of content to a particular topic. Optionally, use a batch id to avoid partial writes. Batches are closed by posting an empty list to that ID. Content must be valid according the the schema associated with the topic, if one exists.","parameters":[{"name":"topic","in":"path","description":"The topic-name","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"batch":{"type":"object","properties":{"id":{"type":"string"},"status":{"type":"string","enum":["open","closed"]}}},"topic":{"type":"string"},"stats":{"type":"object","properties":{"count":{"type":"number"},"lastUpdated":{"type":"number"}}}}},"example":{"batch":{"id":"test-batch","status":"open"},"topic":"notes","stats":{}}}}}}}},"/topic/{topic}":{"get":{"summary":"Get metadata about a topic","description":"Topics are logical grouping of content, like notes, bookmarks, events","parameters":[{"name":"topic","in":"path","description":"The topic-name","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"created":{"type":"string"}}},"example":{"name":"notes","description":"notes stored in common-storage","created":1600000000000}}}},"400":{"description":"Failed JSON parse","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}},"example":{"error":"Error message"}}}},"422":{"description":"Invalid request details","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}},"example":{"error":"Error message"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}},"example":{"error":"Error message"}}}}}},"post":{"summary":"Add a topic to the server","description":"Add a topic if not all ready present. Topics may have a schema constraining content that is added to this topic.","parameters":[{"name":"topic","in":"path","description":"The topic-name","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"existed":{"type":"boolean"}}},"example":{"existed":false}}}},"400":{"description":"Failed JSON parse","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}},"example":{"error":"Error message"}}}},"422":{"description":"Invalid request details","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}},"example":{"error":"Error message"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}},"example":{"error":"Error message"}}}}}},"delete":{"summary":"Delete a topic from the server","description":"Deletes a topic. As of this version, it does not delete the content associated with that topic, but it does make it inaccessible by the API","parameters":[{"name":"topic","in":"path","description":"The topic-name","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"existed":{"type":"boolean"}}},"example":{"existed":true}}}},"400":{"description":"Failed JSON parse","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}},"example":{"error":"Error message"}}}},"422":{"description":"Invalid request details","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}},"example":{"error":"Error message"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}},"example":{"error":"Error message"}}}}}}}}}
